@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Azure Key Vault Secret Store CSI Driver</h1>
    <p>
        This sample application read secret values stored in Azure Key Vault using Secret Store CSI Driver
    </p>
</div>
<div class="container">
    <div class="row align-items-center">
        <div class="col">
            <b>Storage Connection (ENV)</b>
        </div>
        <div class="col">
            <b>Service Bus Connection (ENV)</b>
        </div>
        <div class="col">
            <b>Mount Data (FILE)</b>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col">
            @Model.StorageConnection
        </div>
        <div class="col">
            @Model.SBConnection
        </div>
        <div class="col">
            @Model.MountData
        </div>
    </div>
</div>
